body{
	background-color: #EDEDED;
	margin: 10px;
}

h3{
	text-align: right;
	font-size: 17px;
	font-family: Helvetica;
}


h1{
	text-align: center;
	font-size: 35px;
	font-family: Baskerville, Helvetica;
	max-height: 25px;
	padding-left: 5px;
	margin: 50px;
}


p{
	font-family: Helvetica Neue;
}

h2{
	font-family: Baskerville;
	font-size: 43px;
}

button{
	border-radius: 70px;
	border-style: solid;
	border-width: black;
	text-align: center;
}

a{
	color: black;
	text-underline-position: under;

}

footer{
	text-align: center;
	background-color: #FFFABA;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px;
	}

footer a{
	color: black;
}

p{
font-size: 40px;
}


img{
	max-width: 100px;
}

footer{
  width:100%;
  position:absolute;
 
  }

  h1{
  	background-color: #FFFABA;
  	margin: 50px;
  	max-width: 430px ;
  }

h6{
	font-size: 70px;
	text-align: center;
}

footer p{
	font-size: 20px;
}

p i{	

	font-size: 20px;
	color: #A6A6A6;
}

p a{
	font-size: 30px;
}

span p{
	text-align: center;
	background-color: #FFFABA;
	margin: 30px;

}

button{
	background-color: #FFFABA;
	font-family: Helvetica;
	color: black ;
	font-size: 20px;
	padding: 25px;
	padding-left: 45px;
	padding-right: 45px;
	text-align: center;
}